@use './variables';
.m-pokemon {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  text-transform: capitalize;

  &__title {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid variables.$color-border-type;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--title {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }
  }

  &__name {
    text-transform: uppercase;
    font-size: variables.$fs-pokemon-name;
    letter-spacing: 0.4rem;
  }

  &__index {
    font-size: variables.$fs-pokemon-index;
  }

  &__info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
}

.m-poke {
  &__title {
    text-align: center;
    &::before {
      content: "· ";
    }

    a {
      color: inherit;
    }
  }
}
