.m-sprite{
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.m-sprites{
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}