.m-tipos{
    &__container{
        width: 100%;
    }
    display: flex;
    margin: 3rem auto;
    max-width: 75vw;
    overflow: auto;
    
}

.m-tipo{
    margin: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: #ccc;
    color: #000;
    border-radius: 30px;
    text-transform: capitalize;
    max-width: 100%;

    &:hover{
        cursor: pointer;
    }

    &__title{
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 1rem 0 0;
    }

    &__link{
        color: inherit
    }
}